.table {
    /* border-spacing: 0; */
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
}

.caption {
    font-family: var(--ff-Montserrat);
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    letter-spacing: var(--ls-3);
    color: var(--clr-black-15);
    margin-bottom: 20px;
}

.table th {
    padding: 10px 0;
    color: var(--clr-black-15);
    background-color: var(--clr-blue-main);
    border: 1px solid var(--clr-blue-light);
}

.table .id {
    padding: 10px 5px;
}

.date {
    width: max(150px, min(10vw, 200px));
}

.remainingDebt {
    width: max(100px, min(10vw, 200px));
}
