.containerDescription {
  margin-bottom: 20px;
}

.btn {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 12px 36px;
  background-color: var(--clr-blue-dark);
  color: var(--clr-white);
  border-radius: 24px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: var(--clr-blue-light);
    box-shadow: inset 0 0 0 2px var(--clr-blue-dark);
    color: var(--clr-black-15);
  }
}
